@import 'reset.css';

@import 'fonts.css';

@import 'general.css';

@import 'header.css';

/* ---------------------------------
# General Elements
----------------------------------------------- */

html {
    position: relative;
    width: 100%;
    font-family: Montserrat, sans-serif;
    color: #ccc;
}

a {
    color: #fff;
    text-decoration: none;
}

/* ---------------------------------
# General Classes
----------------------------------------------- */

.content-wrapper {
    position: relative;
    max-width: 1200px; /* MediaQuery that relies on this max-width */
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    margin: 30px 0 40px;
    font-size: 24px;
    font-weight: lighter;
    position: relative;
}
.section-title:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    top: calc(50% + 2px);
    left: 0;
}
.section-title span {
    position: relative;
    padding: 10px 20px 10px 0px;
    background-color: #373741;
    color: #aaa;
    z-index: 10;
}

.more-info-link {
    text-align: right;
}
.more-info-link a {
    display: inline-block;
    padding: 10px 15px 10px 45px;
    background-color: #b33834;
    border-bottom: 1px solid #cc524e;
    color: #FFF;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 40px 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40px 100%);
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex > section {
    width: 45%;
    margin-top: 20px;
    min-height: 300px;
}
.flex > section:first-child {
    margin-right: 10%;
}

/* ---------------------------------
# Header Classes
----------------------------------------------- */

.header {
    position: relative;
    box-shadow: 0px 3px  7px  rgba(0,0,0,0.35),
                0px 10px 50px rgba(0,0,0,0.55);
    z-index: 10;
}

.header .top-bar,
.header .bottom-bar {
    position: relative;
    width: 100%;
}

.header .content-wrapper {
    padding-left: 140px;
}

.top-bar {
    z-index: 10;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.05), 0px 10px 50px rgba(0,0,0,0.25);
    background-color: #41414a;
}

.top-bar .title a {
    display: inline-block;
    padding: 10px 0;
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
}

.top-bar .title a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    height: 100px;
    width: 100px;
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.top-bar .title span {
    color: #aaa;
    text-transform: lowercase;
    font-variant: small-caps;
}

.bottom-bar {
    background-color: #373741;
}

.bottom-bar .navigation {
    margin-left: -10px;
}

.bottom-bar .navigation a {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    color: #ddd;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 20px 10px;
}

.bottom-bar .navigation a:hover {
    color: #fff;
}

/* ---------------------------------
# Landing Page
----------------------------------------------- */

.content {
    background-color: #373741;
    padding-bottom: 320px;
}

.landing-search {
    position: relative;
    padding: 120px 0;
    text-align: center;
    width: 100%;
    background-color: #21212a;
    background-image: url('../img/bg-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
}

.landing-search .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing-search .search-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    width: calc(100% - 40px);
    margin: 0 20px;
    max-width: 650px;
    min-width: 450px;
    z-index: 10;
    font-size: 18px;
    margin: 0 20px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.65), 0px 10px 50px rgba(0,0,0,0.95);
}

.landing-search .search-wrapper input {
    vertical-align: middle;
    text-align: left;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    width: calc(100% - 50px);
    background-color: #21212a;
    border: 0;
    color: #fff;
}

::placeholder {
    color: #aaa;
}

.landing-search .search-wrapper a {
    vertical-align: middle;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #373741;
    line-height: 50px;
    margin-left: -8px;
}

.suggested-content-wrapper {
    padding: 20px 0;
}

.suggested-content-wrapper .classes {
    margin-top: 20px;
}
.suggested-content-wrapper .classes .class {
    position: relative;
    width: 150px;
    height: 200px;
    margin-bottom: 20px;
    top: 0;
    text-align: center;
    background-color: #25252c;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: top .1s linear;
    filter: drop-shadow(0px 3px 7px rgba(0,0,0,0.1)) drop-shadow(0px 3px 27px rgba(0,0,0,0.05));
    border: 5px solid transparent;
}
.suggested-content-wrapper .classes .class:hover {
    top: -5px;
}
.suggested-content-wrapper .classes .class .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 15px);
    padding: 10px 0 10px 15px;
    background-color: #41414a;
    text-align: left;
}

.suggested-content-wrapper .classes .class .text:before {
    content: "\ea0a";
    font-family: 'icomoon' !important;
    position: absolute;
    top: -20px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #41414a;
    transition: color .3s ease, background-color .3s ease;
}

.suggested-content-wrapper .classes .class:hover .text:before {
    background-color: #b33834;
    color: #fff;
}

.suggested-content-wrapper .classes .class.duelist  { background-image: url('../img/art/class/duelist.png');  }
.suggested-content-wrapper .classes .class.marauder { background-image: url('../img/art/class/marauder.png'); }
.suggested-content-wrapper .classes .class.ranger   { background-image: url('../img/art/class/ranger.png');   }
.suggested-content-wrapper .classes .class.scion    { background-image: url('../img/art/class/scion.png');    }
.suggested-content-wrapper .classes .class.shadow   { background-image: url('../img/art/class/shadow.png');   }
.suggested-content-wrapper .classes .class.templar  { background-image: url('../img/art/class/templar.png');  }
.suggested-content-wrapper .classes .class.witch    { background-image: url('../img/art/class/witch.png');    }

.build-list .build {
    width: 100%;
    margin-bottom: 10px;
    background-color: #41414a;
}

.build-list .build > div {
    display: inline-block;
    vertical-align: middle;
}

.build-list .build .ascendancy {
    width: 150px;
    height: 105px;
    background-position: center;
    background-repeat: no-repeat;
}
.build-list .build .details {
    width: calc(100% - 160px);
}
.build-list .build .details > a,
.build-list .build .details > div {
    display: block;
    padding: 7px 10px;
}

.build-list .build .ascendancy.ascendant    { background-image: url('../img/art/ascendancy/ascendant.png');    }
.build-list .build .ascendancy.assassin     { background-image: url('../img/art/ascendancy/assassin.png');     }
.build-list .build .ascendancy.berserker    { background-image: url('../img/art/ascendancy/berserker.png');    }
.build-list .build .ascendancy.champion     { background-image: url('../img/art/ascendancy/champion.png');     }
.build-list .build .ascendancy.chieftain    { background-image: url('../img/art/ascendancy/chieftain.png');    }
.build-list .build .ascendancy.deadeye      { background-image: url('../img/art/ascendancy/deadeye.png');      }
.build-list .build .ascendancy.elementalist { background-image: url('../img/art/ascendancy/elementalist.png'); }
.build-list .build .ascendancy.gladiator    { background-image: url('../img/art/ascendancy/gladiator.png');    }
.build-list .build .ascendancy.guardian     { background-image: url('../img/art/ascendancy/guardian.png');     }
.build-list .build .ascendancy.hierophant   { background-image: url('../img/art/ascendancy/hierophant.png');   }
.build-list .build .ascendancy.inquisitor   { background-image: url('../img/art/ascendancy/inquisitor.png');   }
.build-list .build .ascendancy.juggernaut   { background-image: url('../img/art/ascendancy/juggernaut.png');   }
.build-list .build .ascendancy.necromancer  { background-image: url('../img/art/ascendancy/necromancer.png');  }
.build-list .build .ascendancy.occultist    { background-image: url('../img/art/ascendancy/occultist.png');    }
.build-list .build .ascendancy.pathfinder   { background-image: url('../img/art/ascendancy/pathfinder.png');   }
.build-list .build .ascendancy.raider       { background-image: url('../img/art/ascendancy/raider.png');       }
.build-list .build .ascendancy.saboteur     { background-image: url('../img/art/ascendancy/saboteur.png');     }
.build-list .build .ascendancy.slayer       { background-image: url('../img/art/ascendancy/slayer.png');       }
.build-list .build .ascendancy.trickster    { background-image: url('../img/art/ascendancy/trickster.png');    }


/* ---------------------------------
# Footer
----------------------------------------------- */

.footer {
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../img/beach.png');
    background-repeat: no-repeat;
    background-size: fit;
    background-position: bottom -700px center;
    box-shadow: inset 0px 3px  7px  rgba(0,0,0,0.35),
                inset 0px 10px 50px rgba(0,0,0,0.55);
}

.footer .disclaimer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 20px 20px;
    background-color: #373741;
    text-align: center;
}
.footer .disclaimer-wrapper a {
    text-decoration: underline;
}